:root {
    --terraCotta: rgb(174,0,27);
    --beige: rgb(204,151,45);

}


@font-face {
    font-family: 'suez';
    src: url('/Fonts/SuezOne-Regular.ttf');
}

@font-face {
    font-family: 'textMe';
    src: url('/Fonts/secondary/TextMeOne-Regular.ttf');
}



*, html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'textMe';

}

h1 {
    font-size: 3rem;
}


p {
    font-size: 2.3rem;
}






