

.errormessage {
    color: red;
}




.form {
    /* background-color: green; */
    box-sizing: border-box;
    padding: 0  20px;
    width: 93%;
    margin: auto;

    display: flex;
    flex-direction: column;
    align-items:center;


}


.input, .submit {

    box-sizing: border-box;

    font-size: 1.5rem;

    padding: 20px;
    margin: 10px 0;

    border-radius: 5px;
    border: 0;
    box-shadow: 3px 3px 3px grey;
    font-family: "textMe";
    background-color: rgb(219, 243, 248);


}



.input {

    width: 100%;
    font-weight: bolder;
    text-align: center;

}





.submit {

    font-family: "suez";
    background-color: var(--terraCotta);
    color: white;

}








.daysOfWeekWRAPPER {
    background-color: rgba(136, 136, 136, 0.496);
    width: 100%;
    border-radius: 10px;

    padding: 20px ;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.dayOfWeek {
    width: 100%;
    box-sizing: border-box;
    /* background-color: red; */

    display: flex;
    flex-direction: column;
    justify-content: right;
    /* /* align-items: center; */

}


.dayOfWeek > * {
    /* text-align: center; */
}



.dayOfWeek > :nth-child(2) {
    /* width: 70%; */

}





.subtotals {
    /* text-align: right; */
    width: 100%;
    font-weight: bold;
    padding: 20px;
    margin-top: 20px;
    /* background-color: red; */

    font-size: 1.9rem;


}








.hr {
    width: 100%;
    border: 2px  solid var(--terraCotta);
}






















/* for pc screen and landscape orient: */
@media only screen and (min-width: 600px) and (orientation: landscape) {








}


